<div class="summary-container">
  <div class="content">
    <ul>
      <li><b class="summary-business">사업개요</b></li>
      <li><a href="/summary/trading" >단지내 거래 시스템</a></li>
      <li><a href="/summary/communitysolar">Community solar</a></li>
      <li><a href="/summary/essshare">공유ESS</a></li>
      <li><a href="/summary/smallscalepower">소규모 전력거래</a></li>
    </ul>
  <div class="commsolar">
    <iframe src="<%=asset_path 'summ1.png'%>" width="200%" height="500" frameborder="0" scrolling="no"></iframe>

  </div>
  </div>
</div>


