<%= javascript_include_tag 'services/order', 'data-turbolinks-track': 'reload' %>

<div class="apply-container">
  <div class="container">
    <div class="content">
      <div class="certifiedbox">
        인증 :
        <input type="text" name="인증">
      </div>
      <div class="certifiedbox_1">
          계약서 확인 :
          <input type="text" name="인증">
        </div>
      <div class="apply_menu">
      <ul>
        <li><a href="/apply/tradingapply" >단지내 거래 참여신청</a></li>
        <li><a href="/apply/communitysolarapply">Community solar 참여 신청</a></li>
        <li><a href="/apply/essshareapply">공유 ESS 참여신청</a></li>
        <li><a href="/apply/smallscalepowerapply">소규모 전력 거래 신청</a></li>
      </ul>

      </div>
    </div>
  </div>
</div>