<%= javascript_include_tag    'services/order', 'data-turbolinks-track': 'reload' %>

<div class="plans-container">
  <div class="container">
    <div class="top">
      <p>프리미엄플랜에 가입하시고</p>
      <p>누진세를 절감해 보세요</p>
    </div>

    <ul class="plan-list clearfix">
      <li class="plan">
        <p class="name">10kWh 계약</p>
        <div class="price-wrapper clearfix">
          <div class="price">￦<span id="gprice">12,000</span>/<span id="gunit">mo</span></div>
        </div>
        <p class="price-desc">매월 결제됩니다.</p>

        <ul class="adv-list">
          <li class="adv">매월 10kWh 용량의 사용분이 계약됩니다.</li>
        </ul>

        <div class="btn-wrapper clearfix">
          <div class="btn order-btn" data-target="1">결제하기</div>
        </div>
      </li>

      <li class="plan yearly">
        <p class="name">20kWh 계약</p>
        <div class="price-wrapper clearfix">
          <div class="price">￦<span id="gprice">18,000</span>/<span id="gunit">mo</span></div>
        </div>
        <p class="price-desc">매월 결제됩니다.</p>

        <ul class="adv-list">
          <li class="adv">매월 20kWh 용량의 사용분이 계약됩니다.</li>
        </ul>

        <div class="btn-wrapper clearfix">
          <div class="btn order-btn" data-target="2" >결제하기</div>
        </div>
      </li>

      <li class="plan">
        <p class="name">40kWh 계약</p>
        <div class="price-wrapper clearfix">
          <div class="price">￦<span id="gprice">30,000</span>/<span id="gunit">mo</span></div>
        </div>
        <p class="price-desc">매월 결제됩니다.</p>

        <ul class="adv-list">
          <li class="adv">매월 40kWh 용량의 사용분이 계약됩니다.</li>
        </ul>

        <div class="btn-wrapper clearfix">
          <div class="btn order-btn" data-target="2" >결제하기</div>
        </div>
      </li>

    </ul>
  </div>
</div>