<footer class="footer">

  <div class="terms clearfix">
    Contect us
  <!--  <%#= link_to '/terms', class: 'term' do %>
      TERMS
    <%# end %>

    <%#= label_tag '|', '|', class: 'sep' %>

    <%#= link_to '/privacy', class: 'term' do %>
      PRIVACY
    <%# end %>-->
  </div>

  <p class="copyright">고객지원 1000-1234   abc@energy.co.kr</p>
</footer>