<div class="menu-container landing" id="serviceMenu">
  <div class="container">
    <div class="login-wrapper clearfix">
      <%= link_to "/" do %>
        <div class="logo"></div>
      <% end %>

      <div class="u-container clearfix">
        <%= link_to '/login' do %>
          <span class="login-signup">
            로그인
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>